.container {
	display: flex;
	flex-direction: column;
	max-width: 640px;
	width: 100%;
}
.text {
	text-align: center;
}
.orderInfo {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.list {
	list-style: none;
	display: flex;
	margin: 0;
	padding: 0;
}

.boxTimePrice {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.price {
	display: flex;
}
