.container {
  display: flex;
  flex-direction: column;
  max-width: 640px;
  width: 100%;
}
.text {
  text-align: center;
}
.orderInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.boxTimePrice {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.price {
  display: flex;
}

.item {
  display: flex;
  align-items: center;
  max-width: 608px;
  width: 100%;
}

.border {
	border-radius: 100px;
}

.itemImg {
	width: 64px;
    height: 64px;
    object-fit: cover;
    background: #131316;
    border-radius: 50%;
}
