.box {
    max-width: 600px;
}

.price {
    display: flex;
    justify-content: center;

}

.list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    list-style: none;
    padding: 0;
    margin: 0;
    
}

.item {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    max-width: 272px;
    max-height: 208px;
    position: relative;
}

.item:hover{
    cursor: grab;
    opacity: 0.6;
}